@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --background-primary: #121212;
    --hover: #13b29e;
    --primary: #dcd7c9;
    --font-1: "Montserrat", sans-serif;
    --homepage-color-2: #0d0d0d;
    --homepage-color-3: #ffcf40;
    --homepage-transparent-1: rgba(0, 0, 0, 0.25);
    --homepage-transparent-2: rgba(0, 0, 0, 0.5);
    --border: 1px solid rgb(46, 46, 46);
    --dashed: 1px dashed rgb(46, 46, 46);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: var(--hover);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

button {
    color: var(--primary);
}

body {
    min-height: 100vh;
    background-color: var(--background-primary);
    color: var(--primary);
    font-family: var(--font-1);
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 7.5rem;
    background-color: var(--homepage-transparent-1);
    align-items: center;

    .navbar-left {
        .brand {
            font-weight: 300;
            font-size: 4rem;
            letter-spacing: -4px;
            animation: color-change 10s infinite;

            span {
                font-size: 0.75rem;
                font-weight: 500;
                letter-spacing: 0;
                vertical-align: top;
            }
        }

        .slogan {
            font-weight: 200;
            padding-left: 1rem;
            letter-spacing: 3px;
            font-size: 0.8rem;
        }

        a::after {
            all: revert;
        }

        a:hover::after {
            all: revert;
        }
    }

    .navbar-right {
        display: flex;
        gap: 3rem;
        align-items: center;

        a {
            transition: color 0.2s ease-in-out;
            font-weight: 400;
            letter-spacing: 1px;
        }

        a:hover {
            color: var(--hover);
        }

        .btn {
            background-color: inherit;
            font-size: inherit;
            border: none;
            cursor: pointer;
            transition: color 0.2s ease-in-out;
        }

        .btn:hover {
            color: var(--hover);
        }

        .basket-counter {
            background-color: var(--hover);
            color: var(--background-primary);
            border-radius: 50%;
            display: inline-flex;
            width: 1.5rem;
            height: 1.5rem;
            justify-content: center;
            margin-left: 0.5rem;
            font-weight: bolder;
            align-items: center;
            transform: translate(-20px, -15px);
            scale: 0.75;
        }
    }
}

.homepage {
    .homepage-background {
        position: fixed;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .homepage-main-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 500px;
        height: 77.5vh;
        padding: 7.5rem;
        gap: 5rem;

        .homepage-main {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            gap: 1rem;
            flex: 1.25;
            transform: skew(0deg, 345deg);
            text-shadow: -20px -20px 5px var(--homepage-transparent-2);

            .btn {
                background-color: inherit;
                border: none;
                font-size: 1.25rem;
                padding: 5px 10px;
                cursor: pointer;
                transition: color 0.2s ease-in-out;
                color: var(--hover);
                text-shadow: -20px -20px 5px var(--homepage-transparent-2);
            }

            .btn:hover {
                color: var(--hover);
            }

            h1 {
                font-size: 3rem;
                color: var(--homepage-color-3);
            }

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }

        .main-image {
            flex: 1;

            img {
                width: 400px;
                transition: scale 0.25s ease-in-out;
            }

            img:hover {
                scale: 1.05;
            }
        }
    }
}

.shop-wrapper {
    padding: 7.5rem 5rem;
    display: flex;

    .shop-aside {
        flex: 1;
        padding: 0 2rem;
        text-align: right;

        h2 {
            padding-bottom: 1.5rem;
            font-weight: 200;
            letter-spacing: 3px;
            color: var(--homepage-color-3);
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        a:hover {
            color: var(--hover);
        }
    }

    .shop-main {
        flex: 4;
        padding-left: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .product {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: clamp(200px, 30vw, 400px);
            padding: 2rem 1rem 1rem;
            text-align: center;
            gap: 1rem;
            background-color: var(--homepage-transparent-1);

            img {
                width: clamp(200px, 15vw, 250px);
                aspect-ratio: 1;
                object-fit: scale-down;
                margin-bottom: 1rem;
            }

            h2 {
                font-size: 1rem;
                font-weight: 300;
                color: var(--homepage-color-3);
            }

            .price {
                font-weight: 400;
                font-size: 1.75rem;
            }

            .price::after {
                content: "₺";
                font-size: 1.5rem;
                padding-left: 0.5rem;
                color: var(--hover);
                vertical-align: middle;
            }

            p {
                font-size: 0.75rem;
                font-weight: 300;
            }

            .btn {
                background-color: inherit;
                border: none;
                padding: 0.75rem 2rem;
                width: 100%;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
            }

            .btn:hover {
                color: var(--background-primary);
                background-color: var(--hover);
            }

            .btn::before {
                content: "+";
                font-weight: bolder;
                font-size: 1.5rem;
                vertical-align: middle;
                padding-right: 0.5rem;
            }
        }
    }
}

.about-wrapper {
    padding: 15vh 15vw;
    min-height: 77.5vh;

    h1 {
        padding-bottom: 2rem;
        color: var(--homepage-color-3);
        text-align: center;
        font-weight: 200;
        letter-spacing: 5px;
    }

    span {
        font-size: 1rem;
        vertical-align: super;
    }

    > p {
        text-align: justify;
        font-size: 1.25rem;
    }

    .vision-mission {
        padding-top: 10rem;
        display: flex;
        gap: 5rem;

        h2 {
            padding-bottom: 1rem;
            font-size: 1.5rem;
            color: var(--homepage-color-3);
            font-weight: 200;
            letter-spacing: 5px;
        }

        p {
            font-size: 1.25rem;
        }

        .mission {
            flex: 1;
        }

        .vision {
            text-align: right;
            flex: 1;
        }
    }
}

.homepage-footer {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    background-color: var(--homepage-transparent-1);
    padding: 10vh 15vw;
    font-size: 0.75rem;
    position: relative;

    div {
        flex: 1;
    }

    .footer-arrow {
        position: absolute;
        top: 1rem;
    }

    h2 {
        border-bottom: 1px dashed rgb(86 86 86);
        padding-bottom: 0.5rem;
        color: var(--homepage-color-3);
        font-size: 0.75rem;
        font-weight: 300;
        letter-spacing: 1px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 2rem;
    }

    a {
        transition: color 0.2s ease-in-out;
    }

    a:hover {
        color: var(--hover);
    }
}

.footer-footer {
    display: flex;
    height: 10vh;
    background-color: var(--homepage-transparent-2);
    font-size: 0.8rem;
    justify-content: center;

    .about {
        display: flex;
        align-items: center;
    }

    .about > a::after {
        all: revert;
    }

    .about > a:hover::after {
        all: revert;
    }

    .github-icon {
        height: 25px;
        padding-left: 10px;
        padding: 0 10px;
        transition: transform 0.5s ease-in-out;
    }

    .github-icon:hover {
        transform: rotate(360deg);
    }

    a {
        transition: color 0.2s ease-in-out;
        color: var(--homepage-color-3);
    }

    a:hover {
        color: var(--hover);
    }
}

.basket {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 500px;
    width: 33vw;
    min-height: 100vh;
    padding: 1.5rem;
    background-color: var(--homepage-color-2);
    z-index: 5;
    transform: translateX(0);
    transition: all 0.25s ease-in-out;
    box-shadow: 0px 0px 5px 0px black;

    > h1 {
        text-align: center;
        padding-bottom: 2rem;
        font-weight: 300;
        letter-spacing: 3px;
        font-size: 1.25rem;
        color: var(--homepage-color-3);
    }

    .price {
        font-weight: 300;
    }

    .price::after {
        content: "₺";
        font-size: 1.25rem;
        padding-left: 0.25rem;
        color: var(--hover);
    }

    .basket-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-right: 1rem;
        height: 75vh;
        min-height: 500px;
        overflow: auto;
        box-shadow: inset 0px 0px 5px 0px var(--homepage-transparent-2);
        background-color: var(--homepage-transparent-1);

        .basket-product {
            font-size: 0.65rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0.5rem;
            position: relative;

            .basket-product-content {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                padding: 0.25rem 0 0;
            }

            img {
                width: 75px;
                aspect-ratio: 1;
                object-fit: scale-down;
            }

            h2 {
                font-weight: 200;
            }

            .remove-btn {
                position: absolute;
                top: 50%;
                right: 1rem;
                transform: translateY(-50%);
                background-color: inherit;
                color: var(--homepage-color-3);
                font-size: 1.25rem;
                border: none;
                cursor: pointer;
                transition: color 0.2s ease-in-out;
            }

            .remove-btn:hover {
                color: var(--hover);
            }

            .counter {
                display: flex;
                align-items: center;
                gap: 1rem;

                span {
                    font-size: 1rem;
                    font-family: emoji;
                }
            }

            .counter-btn {
                background-color: inherit;
                border: none;
                cursor: pointer;
                transition: color 0.2s ease-in-out;
                color: var(--homepage-color-3);
            }

            .minus {
                padding-bottom: 2px;
            }

            .counter-btn:hover {
                color: var(--hover);
            }
        }

        .basket-empty {
            text-align: center;
            padding-top: 25vh;

            div {
                position: relative;
                padding-top: 1rem;
                font-size: 10rem;
                color: var(--homepage-transparent-2);
            }

            div::after {
                content: "Your basket is empty.";
                position: absolute;
                font-size: 1rem;
                top: 40%;
                left: 52%;
                transform: translate(-50%, -50%);
                letter-spacing: 1px;
                color: var(--primary);
                opacity: 0.25;
            }
        }
    }

    .basket-total {
        padding: 1rem 0;
        display: flex;
        gap: 0.25rem;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
            padding-bottom: 0.5rem;
            font-weight: 300;
            letter-spacing: 3px;
            font-size: 1.25rem;
            color: var(--homepage-color-3);
        }

        .price {
            font-size: 2rem;
        }
    }

    .btn {
        position: absolute;
        top: 0.9rem;
        right: 1.5rem;
        background-color: inherit;
        color: var(--homepage-color-3);
        font-size: 2rem;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .btn:hover {
        color: var(--hover);
    }

    .proceed-btn {
        background-color: var(--homepage-transparent-1);
        border: none;
        padding: 0.75rem 2rem;
        width: 100%;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px 0px 5px 0px var(--homepage-transparent-2);
    }

    .proceed-btn:hover {
        background-color: var(--hover);
        color: var(--background-primary);
    }
}

.snackbar {
    min-width: 250px;
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--hover);
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10vh;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.active {
    color: var(--hover);
}

.basket.open {
    transform: translateX(0);
}

.basket.close {
    transform: translateX(100%);
}

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 77.5vh;

    .error-code {
        font-size: 5rem;
        color: darkred;
    }

    a {
        font-size: 1.25rem;
        color: lightblue;
    }
}

@keyframes color-change {
    0% {
        color: rgb(255, 0, 0);
    }
    20% {
        color: rgb(0, 255, 0);
    }
    40% {
        color: rgb(0, 165, 255);
    }
    60% {
        color: rgb(255, 255, 0);
    }
    80% {
        color: rgb(255, 0, 255);
    }
    100% {
        color: rgb(255, 0, 0);
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 10vh;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 10vh;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--homepage-transparent-1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover);
}
